# this is documentation of notarispro.com API
swagger: '2.0'
info:
  title: Notarispro APIGateway
  description: Move your app forward with the Notarispro APIGateway
  version: "1.0.0"
# the domain of the service
host: api.notarispro.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /lihat/list/template/akta:
    get:
      summary: Melihat semua template akta dari unit bisnis tertentu
      description: |
        Menampilkan semua informasi tentang template akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: page
          in: query
          description: Halaman berapa yang akan ditampilkan.
          required: true
          type: number
          format: double
        - name: per_page
          in: query
          description: Berapa banyak data yang diambil setiap halaman.
          required: true
          type: number
          format: double
      tags:
        - Templates
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/TemplateIndex'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /lihat/isi/template/akta:
    get:
      summary: Melihat satu akta dari unit bisnis tertentu
      description: |
        Menampilkan seluruh informasi tentang statu template akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID template akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Templates
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/TemplateShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /mulai/template/akta:
    get:
      summary: Mengambil data structure template akta
      description: |
        Menampilkan field yang dibutuhkan untuk template akta.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      tags:
        - Templates
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/TemplateEdit'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /edit/isi/template/akta:
    get:
      summary: Mengambil data structure template akta yang sudah ada
      description: |
        Menampilkan seluruh informasi tentang satu template akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID template akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Templates
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/TemplateEdit'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /simpan/template/akta:
    post:
      summary: Menyimpan template akta baru
      description: |
        Menampilkan seluruh informasi tentang satu template akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: title
          in: query
          description: judul template akta.
          required: true
          type: string
          format: string
        - name: paragraph[0]
          in: query
          description: paragraph pertama dari template akta.
          required: true
          type: string
          format: string
        - name: paragraph[1]
          in: query
          description: paragraph pertama dari template akta.
          required: true
          type: string
          format: string
      tags:
        - Templates
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/TemplateShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /update/template/akta:
    post:
      summary: Update template akta sebelumnya
      description: |
        Menampilkan seluruh informasi tentang satu template akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID template akta yang akan ditampilkan.
          required: true
          type: string
          format: string
        - name: title
          in: query
          description: judul template akta.
          required: true
          type: string
          format: string
        - name: paragraph[0]
          in: query
          description: paragraph pertama dari template akta.
          required: true
          type: string
          format: string
        - name: paragraph[1]
          in: query
          description: paragraph pertama dari template akta.
          required: true
          type: string
          format: string
      tags:
        - Templates
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/TemplateShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /hapus/template/akta:
    delete:
      summary: Menghapus data structure template akta yang sudah ada
      description: |
        Menghapus satu template akta untuk dimodifikasi.Response berupa json, 
        berisi data header dan data content dengan mengikuti format contracts 
        https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID template akta yang akan dihapus.
          required: true
          type: string
          format: string
      tags:
        - Templates
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/TemplateShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /issue/template/akta:
    post:
      summary: Mengubah draft template akta menjadi template akta
      description: |
        Draft template akta merupakan milik pribadi sampai diissue menjadi template akta. 
        Response berupa json, berisi data header dan data content dengan mengikuti 
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID template akta yang akan diubah.
          required: true
          type: string
          format: string
      tags:
        - Templates
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/TemplateShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /void/template/akta:
    post:
      summary: Mengubah draft template akta menjadi void template akta
      description: |
        Void template akta merupakan template akta yang sudah tidak dipakai lagi. 
        Response berupa json, berisi data header dan data content dengan mengikuti 
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID template akta yang akan diubah.
          required: true
          type: string
          format: string
      tags:
        - Templates
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/TemplateShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /lihat/list/draft/akta:
    get:
      summary: Melihat semua draft akta dari unit bisnis tertentu
      description: |
        Menampilkan semua informasi tentang draft akta dari writer tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: page
          in: query
          description: Halaman berapa yang akan ditampilkan.
          required: true
          type: number
          format: double
        - name: per_page
          in: query
          description: Berapa banyak data yang diambil setiap halaman.
          required: true
          type: number
          format: double
      tags:
        - Drafts
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftIndex'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /lihat/isi/draft/akta:
    get:
      summary: Melihat satu draft akta dari unit bisnis tertentu
      description: |
        Menampilkan seluruh informasi tentang statu draft akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID draft akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Drafts
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /mulai/draft/akta:
    get:
      summary: Mengambil data structure draft akta
      description: |
        Menampilkan field yang dibutuhkan untuk draft akta.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      tags:
        - Drafts
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftEdit'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /edit/isi/draft/akta:
    get:
      summary: Mengambil data structure draft akta yang sudah ada
      description: |
        Menampilkan seluruh informasi tentang satu draft akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID draft akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Drafts
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftEdit'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /simpan/draft/akta:
    post:
      summary: Menyimpan draft akta baru
      description: |
        Menampilkan seluruh informasi tentang satu draft akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: title
          in: query
          description: judul draft akta.
          required: true
          type: string
          format: string
        - name: paragraph[0]
          in: query
          description: paragraph pertama dari draft akta.
          required: true
          type: string
          format: string
        - name: paragraph[1]
          in: query
          description: paragraph pertama dari draft akta.
          required: true
          type: string
          format: string
      tags:
        - Drafts
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /update/draft/akta:
    post:
      summary: Update draft akta sebelumnya
      description: |
        Menampilkan seluruh informasi tentang satu draft akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID draft akta yang akan ditampilkan.
          required: true
          type: string
          format: string
        - name: title
          in: query
          description: judul draft akta.
          required: true
          type: string
          format: string
        - name: paragraph[0]
          in: query
          description: paragraph pertama dari draft akta.
          required: true
          type: string
          format: string
        - name: paragraph[1]
          in: query
          description: paragraph pertama dari draft akta.
          required: true
          type: string
          format: string
      tags:
        - Drafts
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /hapus/draft/akta:
    delete:
      summary: Menghapus data structure draft akta yang sudah ada
      description: |
        Menghapus satu draft akta untuk dimodifikasi.Response berupa json, 
        berisi data header dan data content dengan mengikuti format contracts 
        https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID draft akta yang akan dihapus.
          required: true
          type: string
          format: string
      tags:
        - Drafts
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /issue/draft/akta:
    post:
      summary: Mengubah draft akta menjadi proposed akta
      description: |
        Draft akta merupakan milik pribadi sampai diissue menjadi proposed akta. 
        Response berupa json, berisi data header dan data content dengan mengikuti 
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID draft akta yang akan diubah.
          required: true
          type: string
          format: string
      tags:
        - Drafts
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /lihat/list/proposed/akta:
    get:
      summary: Melihat semua proposed akta dari unit bisnis tertentu
      description: |
        Menampilkan semua informasi tentang proposed akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: page
          in: query
          description: Halaman berapa yang akan ditampilkan.
          required: true
          type: number
          format: double
        - name: per_page
          in: query
          description: Berapa banyak data yang diambil setiap halaman.
          required: true
          type: number
          format: double
      tags:
        - Proposed
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftIndex'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /lihat/isi/proposed/akta:
    get:
      summary: Melihat satu akta dari unit bisnis tertentu
      description: |
        Menampilkan seluruh informasi tentang statu proposed akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID proposed akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Proposed
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /issue/proposed/akta:
    post:
      summary: Mengubah proposed akta menjadi renvoi akta
      description: |
        Draft proposed akta merupakan milik akta yang diajukan untuk di koreksi notaris. 
        Response berupa json, berisi data header dan data content dengan mengikuti 
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID proposed akta yang akan diubah.
          required: true
          type: string
          format: string
      tags:
        - Proposed
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /void/proposed/akta:
    post:
      summary: Mengubah proposed akta menjadi void akta
      description: |
        Void proposed akta merupakan akta yang sudah tidak dipakai lagi. 
        Response berupa json, berisi data header dan data content dengan mengikuti 
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID proposed akta yang akan diubah.
          required: true
          type: string
          format: string
      tags:
        - Proposed
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /lihat/list/renvoi:
    get:
      summary: Melihat semua renvoi akta dari unit bisnis tertentu
      description: |
        Menampilkan semua informasi tentang renvoi akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: page
          in: query
          description: Halaman berapa yang akan ditampilkan.
          required: true
          type: number
          format: double
        - name: per_page
          in: query
          description: Berapa banyak data yang diambil setiap halaman.
          required: true
          type: number
          format: double
      tags:
        - Renvoi
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftIndex'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /lihat/isi/renvoi:
    get:
      summary: Melihat satu akta dari unit bisnis tertentu
      description: |
        Menampilkan seluruh informasi tentang statu renvoi akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID renvoi akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Renvoi
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /edit/isi/renvoi:
    get:
      summary: Mengambil data structure renvoi akta yang sudah ada
      description: |
        Menampilkan seluruh informasi tentang satu renvoi akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID renvoi akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Renvoi
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftEdit'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /update/renvoi:
    post:
      summary: Update renvoi akta sebelumnya
      description: |
        Menampilkan seluruh informasi tentang satu renvoi akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID renvoi akta yang akan ditampilkan.
          required: true
          type: string
          format: string
        - name: title
          in: query
          description: judul renvoi akta.
          required: true
          type: string
          format: string
        - name: paragraph[0]
          in: query
          description: paragraph pertama dari renvoi akta.
          required: true
          type: string
          format: string
        - name: paragraph[1]
          in: query
          description: paragraph pertama dari renvoi akta.
          required: true
          type: string
          format: string
      tags:
        - Renvoi
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /issue/renvoi:
    post:
      summary: Mengubah draft renvoi akta menjadi renvoi akta
      description: |
        Draft renvoi akta merupakan milik pribadi sampai diissue menjadi renvoi akta. 
        Response berupa json, berisi data header dan data content dengan mengikuti 
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID renvoi akta yang akan diubah.
          required: true
          type: string
          format: string
      tags:
        - Renvoi
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /lihat/list/akta:
    get:
      summary: Melihat semua akta dari unit bisnis tertentu
      description: |
        Menampilkan semua informasi tentang akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: page
          in: query
          description: Halaman berapa yang akan ditampilkan.
          required: true
          type: number
          format: double
        - name: per_page
          in: query
          description: Berapa banyak data yang diambil setiap halaman.
          required: true
          type: number
          format: double
      tags:
        - Akta
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftIndex'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /lihat/isi/akta:
    get:
      summary: Melihat satu akta dari unit bisnis tertentu
      description: |
        Menampilkan seluruh informasi tentang statu akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Akta
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /print/akta:
    get:
      summary: Print satu akta dari unit bisnis tertentu
      description: |
        Menampilkan isi akta dari unit business tertentu.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Akta
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /handover/draft/akta:
    get:
      summary: Memindah kepemilikan draft akta ke writer lain
      description: |
        Menampilkan field yang dibutuhkan untuk akta.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Handover
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/HandoverEdit'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /assignee/akta:
    get:
      summary: Memindah kepemilikan renvoi akta ke writer lain
      description: |
        Menampilkan seluruh informasi tentang satu akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID akta yang akan ditampilkan.
          required: true
          type: string
          format: string
      tags:
        - Assignee
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/HandoverEdit'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /simpan/handover/draft/akta:
    post:
      summary: Menyimpan perpindahan kepemilikan renvoi akta
      description: |
        Menampilkan seluruh informasi tentang satu akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID akta yang akan ditampilkan.
          required: true
          type: string
          format: string
        - name: writer_id
          in: query
          description: id writer berdasarkan dropdown.
          required: true
          type: string
          format: string
      tags:
        - Handover
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /simpan/assignee/akta:
    post:
      summary: Menyimpan pemindahan kepemilikan renvoi akta ke writer lain
      description: |
        Menampilkan seluruh informasi tentang satu akta untuk dimodifikasi.
        Response berupa json, berisi data header dan data content dengan mengikuti
        format contracts https://github.com/thunderid/thundercontract.
      parameters:
        - name: id
          in: query
          description: ID akta yang akan ditampilkan.
          required: true
          type: string
          format: string
        - name: writer_id
          in: query
          description: id writer berdasarkan dropdown.
          required: true
          type: string
          format: string
      tags:
        - Assignee
      responses:
        200:
          description: Array of UI Element
          schema:
            type: array
            items:
              $ref: '#/definitions/DraftShow'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  TemplateIndex:
    properties:
      page_info:
        type: array
        items: 
          $ref: '#/definitions/page_info'
      page_data:
        properties:
          header:
            type: array
            items:
              $ref: '#/definitions/header_template_index'
          data:
            type: array
            items:
              $ref: '#/definitions/data_template_index'
  TemplateShow:
    properties:
      page_info:
        properties:
          id:
            type: string
      page_data:
        properties:
          title:
            properties:
              header:
                properties:
                  title:
                    type: string
              data:
                properties:
                  title:
                    type: string
          content:
            properties:
              header:
                properties:
                  paragraph_0:
                    type: string
                  paragraph_1:
                    type: string
              data:
                properties:
                  paragraph_0:
                    type: string
                  paragraph_1:
                    type: string
          ownership:
            properties:
              header:
                properties:
                  writer:
                    type: string
                  owner:
                    type: string
              data:
                properties:
                  writer:
                    type: string
                  owner:
                    type: string
                  writer_id:
                    type: string
                  owner_id:
                    type: string
  TemplateEdit:
    properties:
      page_info:
        properties:
          id:
            type: string
      page_data:
        properties:
          title:
            properties:
              header:
                properties:
                  title:
                    type: string
              data:
                properties:
                  title:
                    properties:
                      element-class:
                        type: string
                      element-type:
                        type: string
                      element-properties:
                        properties:
                          value:
                            type: string
                          validation:
                            properties:
                              required:
                                type: boolean
                              max:
                                type: number
          content:
            properties:
              header:
                properties:
                  paragraph_0:
                    type: string
                  paragraph_1:
                    type: string
              data:
                properties:
                  paragraph_0:
                    properties:
                      element-class:
                        type: string
                      element-type:
                        type: string
                      element-properties:
                        properties:
                          value:
                            type: string
                          validation:
                            properties:
                              required:
                                type: boolean
                  paragraph_1:
                    properties:
                      element-class:
                        type: string
                      element-type:
                        type: string
                      element-properties:
                        properties:
                          value:
                            type: string
                          validation:
                            properties:
                              required:
                                type: boolean
  page_info:
    properties:
      total_data:
        type: number
      pagination:
        properties:
          current_page:
            type: number
          start_number:
            type: number
          per_page:
            type: number
  header_template_index:
    properties:
      title:
        type: string
      type:
        type: string
      writer:
        type: string
      last_update:
        type: string
  data_template_index:
    properties:
      id:
        type: string
      title:
        type: string
      type:
        type: string
      writer:
        type: string
      writer_id:
        type: string
      last_update:
        type: string
  DraftIndex:
    properties:
      page_info:
        type: array
        items: 
          $ref: '#/definitions/page_info'
      page_data:
        properties:
          header:
            type: array
            items:
              $ref: '#/definitions/header_akta_index'
          data:
            type: array
            items:
              $ref: '#/definitions/data_akta_index'
  DraftShow:
    properties:
      page_info:
        properties:
          id:
            type: string
      page_data:
        properties:
          title:
            properties:
              header:
                properties:
                  title:
                    type: string
              data:
                properties:
                  title:
                    type: string
          content:
            properties:
              header:
                properties:
                  paragraph_0:
                    type: string
                  paragraph_1:
                    type: string
              data:
                properties:
                  paragraph_0:
                    type: string
                  paragraph_1:
                    type: string
          ownership:
            properties:
              header:
                properties:
                  writer:
                    type: string
                  owner:
                    type: string
              data:
                properties:
                  writer:
                    type: string
                  owner:
                    type: string
                  writer_id:
                    type: string
                  owner_id:
                    type: string
  DraftEdit:
    properties:
      page_info:
        properties:
          id:
            type: string
      page_data:
        properties:
          title:
            properties:
              header:
                properties:
                  title:
                    type: string
              data:
                properties:
                  title:
                    properties:
                      element-class:
                        type: string
                      element-type:
                        type: string
                      element-properties:
                        properties:
                          value:
                            type: string
                          validation:
                            properties:
                              required:
                                type: boolean
                              max:
                                type: number
          content:
            properties:
              header:
                properties:
                  paragraph_0:
                    type: string
                  paragraph_1:
                    type: string
              data:
                properties:
                  paragraph_0:
                    properties:
                      element-class:
                        type: string
                      element-type:
                        type: string
                      element-properties:
                        properties:
                          value:
                            type: string
                          validation:
                            properties:
                              required:
                                type: boolean
                  paragraph_1:
                    properties:
                      element-class:
                        type: string
                      element-type:
                        type: string
                      element-properties:
                        properties:
                          value:
                            type: string
                          validation:
                            properties:
                              required:
                                type: boolean
                          visible:
                            type: boolean
  HandoverEdit:
    properties:
      page_info:
        properties:
          id:
            type: string
      page_data:
        properties:
          writer_id:
            properties:
              header:
                properties:
                  writer_id:
                    type: string
              data:
                properties:
                  writer_id:
                    properties:
                      element-class:
                        type: string
                      element-type:
                        type: string
                      element-properties:
                        properties:
                          value:
                            type: string
                          validation:
                            properties:
                              required:
                                type: boolean
                              max:
                                type: number
                              lists:
                                type: array
                                items:
                                  $ref: '#/definitions/option_writer'
  header_akta_index:
    properties:
      title:
        type: string
      type:
        type: string
      writer:
        type: string
      last_update:
        type: string
  data_akta_index:
    properties:
      id:
        type: string
      title:
        type: string
      type:
        type: string
      writer:
        type: string
      writer_id:
        type: string
      last_update:
        type: string
  option_writer:
    properties:
      option:
        type: string
      value:
        type: string
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
